    .icon{
        font-size: xx-large;
        margin-right: 1%;
        color: #ac5395;
        margin-bottom: 0px; 
    }
    .main{
        max-width: 90%;
        margin-left:5%;
        margin-right:5%;

    }
    .left{
        width:30%;
        float: left; 
     
        padding-left: 2%;
        padding-right: 2%;
    }

    .right{
        width:70%;
        float: left; 
        padding-left: 2%;
        border-left: solid;
        border-color: #ac5395;
        
    }
    .header{
        background-image:url(../../assets/img/CVheaderCV.png);
        background-size: 100% 70%;
        background-repeat: no-repeat;
        width: 100%;
        
        margin-bottom: 1%;
    }
    .image{
        width: 25%;
        padding: 4%;
        padding-left: 7.5%;
        
    }
    .name{
        margin-bottom: .1px;
        padding-bottom: 0px;

    }
    .firstname{
        border: none;
        background: white;
        color: #ac5395;
        font-size:2.2vw;
        margin-top:4%;
        margin-bottom: 0px;
        padding-bottom: 0px;

    }
    .lastname{
        border: none;
        background: white;
        color: #ac5395;
        font-size:2.2vw;
        margin-top:4%;
        width: auto;
        min-width: 25%;
        max-width: 35%;
        font-weight: bold;
         margin-bottom: 0px;


    }
    .aboutmecontent{
        border: none;
        font-size: 1.5vw;
        background-color: white;
        min-width: 99%;
        min-height: 250px;
        max-height: 300px;
        size: fixed;


    }
    .rightheader
    {
        color: #ac5395; width: 95%; float: right; margin-top: 3px;
    }
    
    .designation{
            border: none;
        background: white;
        color: #ac5395;
        font-size:1.5vw;
        padding-bottom: 2%;
       
        

    }
    .phone{
        border: none;
        font-size: 1.5vw;
        background-color: transparent;
        margin-left: 30%;

    }
    .email
    {
        border: none;
        font-size: 1.5vw;
        background-color: transparent;
        

    }
    .leftheader{
        font-size: 1.6vw;
        margin-top: 3%;
        background-color: white;



    }
    h2 {
   width: 100%; 
   font-size: large;
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
   border-color:#ac5395; 
   color: #ac5395;
   background-color: white;
   } 
   h3{
    width: 100%;
    font-size: large;

   }

    h2 span { 
    background:#fff; 
    padding:0 10px; 
    border-color:#ac5395; 

    }
        .degree
{

font-weight: bold; 
background-color: white;
border:none;

}
 .content
{

font-weight: 2; 
background-color: white;
border:none;

}

.university
{

font-weight: bold;
background-color: white;
border:none;

}

    .date
{

font-weight: bold;
background-color: white;
border:none;
float: right;
padding-left: 30%;
}
hr { 
     display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    
    border-top: solid;
    
    border-color: #ac5395;
}