/* The container */
.box123 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.box123 input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.box123:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.box123 input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}



/* Show the checkmark when checked */
.box123 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.box123 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.con {
    position: relative;
    width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.con:hover .image {
  opacity: 0.3;
}

.con:hover .middle {
  opacity: 1;
}

/*.text {*/
  /*background-color: #4CAF50;*/
  /*background-color: #9f8690;
  color: white;
  font-size: 16px;
  padding: 16px 32px;*/

/*}*/

.text {
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px ##9f8690;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9f8690), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #9f8690 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #9f8690 5%, #f24437 100%);
	background:-o-linear-gradient(top, #9f8690 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #9f8690 5%, #f24437 100%);
	background:linear-gradient(to bottom, #9f8690 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9f8690', endColorstr='#f24437',GradientType=0);
	background-color:#9f8690;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid ##9f8690;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px ##9f8690;
}
.text:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #9f8690 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #9f8690 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #9f8690 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #9f8690 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #9f8690 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9f8690', endColorstr='#c62d1f',GradientType=0);
	background-color:#9f8690;
}
.text:active {
	position:relative;
	top:1px;
}




/* login page */

#login-area{
background:#9f8690;
height: 1000px;
}



/* login/page/end*/
body{
	
}
/* main page  */

.page-wrape{
	background:#9f8690;
	padding-bottom: 100px;

}



#header-top{
	background:#875a7b;
	
	width: 100%;
	padding: 7px 0 7px 0;
	margin-bottom: 100px;

 
}

/*Form Wizard Setup*/
/*.form_wizard .stepContainer {
    
    overflow-y: hidden!important;
}
*/


.company-logo{
	text-align: center;
	width: 100%;
	
}

.top-icon ul{
 list-style: none;
 text-align: right;
 margin-top: 5px;
}

.top-icon ul li{
	display: inline;
	font-size: 18px;
	color: #FFF; 
	margin-left: 5px;

}


.blue{
	background: blue;
}

.red{
	background: red;
}


ul.my-selector{
list-style: none;
}

ul.my-selector li {
color: #FFF;
}



.dropdown-toggle-e{
	background: none!important;
	color: #fff!important;
	border: none;
	margin-top: 5px;

}

.trail-bases{
width: 100%;
padding: 15px 0 15px 0;
background: #fcf8e3;
text-align: center;

}

.trail-bases h4{
	font-size: 20px;
}

.trail-bases span{
	font-size: 18px;
	color: #80b799;
}

.icon-area{
	margin-top: 50px;
	width: 100%;

}

.icon-box{
width: 70px;
height: 70px;
font-size: 50px;
font-weight: 700;
border-radius: 3px; 
text-align: center;
margin-bottom: 10px;

}

.icon-area a{
	color: #FFF;
	text-align: center;

}

.text-center{
	width: 70px;
	text-align: center;
	color: #fff;
}

.icon-box  i{
	text-shadow: 8px 8px #000 ;

}


/* icon-box background color */

.icon-box-1{
background-color: #7f5e5e;
}

.icon-box-2{
background-color: #cd6c2a;
}

.icon-box-3{
background-color: #87c9d4;
}
.icon-box-4{
background-color: #db6a6a;
}
.icon-box-5{
background-color: #dd9a49;
}
.icon-box-6{
background-color: #b36868;
}

/* main page */

/* all pages apply */
.navbar-default{
	border-radius:0;
	background: #875a7b;
	border: none;
	margin-bottom:0px!important; 
	}







.navbar-brand{
	color: #FFF!important;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF !important;
    font-size: 12px!important;
    padding-right: 3px!important;
}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
 background-color:#875a7b; 
}
/* all pages apply */


/* Inventory Page  */

.main-inventory-search{
margin-bottom: 50px;
}

.main-invoce-search{
margin-bottom: 5px;
}

.main-heading-inven{
color:#8f8f8f ;

}

.mb-50{
	margin-bottom: 50px;
}

.heading-add-record{
	text-transform: capitalize;
	color: #FFF;
	width: 100%;
	margin-bottom: 50px;
}
.label-1{
	color: #fff;
}

.bk-color{
	background:#875a7b;
	border: none;
	color: #FFF;
}

.myform-control{
	width: 80%;
	border: none;
	border-bottom:2px solid #875a7b;
	box-sizing: none;
	outline: none;


}

.myform-control-e{
	width: 100%;
	border: none;
	border-bottom:2px solid #875a7b;
	box-sizing: none;
	outline: none;
}

.myform-control:focus {   
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

.myform-control:focus{
	outline: none;
}

.main-content-inven-add{
	background:#8f8f8f;
	padding-bottom: 180px;
	padding-top:25px; 
}

.border-color1{
	border-bottom: 2px solid #666666;
}

.search-area{
	margin-top: 20px;
}

.nav-tabs>li.active>a:hover {
    color: #875a7b!important;
    cursor: default;
    /* background-color: #fff; */
    /* border: 1px solid #ddd; */
    border-bottom-color: transparent;
}
/* End Inventory Page */

ul.nav-tabs>li>a:hover {
    color: #875a7b!important;
    cursor: default;
    /* background-color: #fff; */
    /* border: 1px solid #ddd; */
    border-bottom-color: transparent;
}
/* End Inventory Page */

/* INVOICE PAGE START HERE */
.customer-sec li{
list-style: none;
margin-bottom: 10px;
}

.some-information{
	width: 100%;
	margin-top: 100px;
}

.some-information ul li{
	list-style: none;
	color:#875a7b;
	text-transform: uppercase;
	font-size: 16px; 
}

.some-information li span{
	
	color: #a8a8a8;
	margin-left:5px; 
}


.mycolor{
	background-color:#e2e2e0;

}


.my-color2{
	color: #a1bc99;
}


.mt-30{
	margin-top: 30px;
}

.mytext-area{
	width: 100%;
	color: #CCC;
	border: none;
}

textarea {
    font-family: monospace;
    border-color: none;
}
.price-total{
	
}

.price-total li{
list-style: none;
text-transform: capitalize;
border-top:1px solid #CCC; 
}

/* INVOISE PAGE END HERE */


/* INVOISE DISPLAY PAGE */
.display-box{
	width: 100%;
	background: #FFF;
	border: 1px solid #333;
	box-shadow: 10px 10px 5px #888888;
	
}

.header{
	background-color: #e2e2e0;
	padding: 7px 0 7px 0;
	margin-bottom: 20px;
}

.header h5{
	color: #21b799;
	font-size: 20px;
	
	background: ;
	margin-left: 10px;
	
}

.main-content-display-invoice{
	}
.prag1{
margin-left: 10px;
font-size: 14px;

}


.header h5 span{
margin-right: 10px;

	color: #21b799;

}

.header h5 span a{
	color: #21b799;

}

.display-body{
	width: 100%;
	height: 200px;


}




/* END INVOISE PAGE */


/* chart page */
.myanker a{
	text-decoration: none;
	color: #333;
	font-size: 12px;
}



input[type=checkbox], input[type=radio] {
    margin: 0 0 0 !important; 
    margin-top: 3px;
    line-height: normal;
    background-color: #FFF;
   /* vertical-align: middle;*/
    height: 10px;
    width: 10px;
    background:#fff;
}

input:checked {
    height: 20px;
    width: 20px;
}

.input-assumpte {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  display: inline-block;
  
}

 
}

.import{
	text-decoration: none;
	color: green;
	font-size: 20px;
}

/* chart page end */

/* new inven page */

.main-heading22{
	font-size: 18px;
	color: #21b799;
	margin-top: 10px;
}

.main-heading22 span{
 color: #ccc;
}



.button-ex{
border-radius:0px!important; 

}

.button-ei{
border-radius:0px!important; 
background: none!important;
border: none!important;
color:#21b799!important ;

}

#Page_wrap{
	width: 100%;
	background: #fff;
    padding-bottom:50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.mynave li{
font-size: 16px;
margin-right: 20px;
border-right: 1px solid #ccc;


}
.mynave li span{
	margin-right: 10px;
	color: #666666;
	font-size: 22px;
}

.mynave li a{
	color:#8f8f8f;

	
}

.form-group-e{
margin-right: 10px;
}

.mynave li a:hover{
	background-color: none!important;
	color: red!important;
}


/*new nav tab pane settings*/
ul.newnav{
	padding-top: 15px!important;
	border:0px;
}

.head-top{
	margin-bottom: 30px;
	
}
.active{
	background:none!important;
}


.check-area{
	margin-bottom: 30px;
}

.myform-control-s{
	width: 100%;
	border: none;
	border-bottom:2px solid #666666;
	box-sizing: none;
	outline: none;

}

.myform-control-d{
	width: 100%;
	border: none;
	border-bottom:1px solid #666666;
	box-sizing: none;
	outline: none;

}



input.other::-webkit-input-placeholder { font-size: 15pt; line-height: 3; color: #666666; }

@media (max-width: 760px) {
.head-top{
	margin-bottom: 50px;
	background-color:#e2e2e0;
	}
.form_wizard .stepContainer {
     overflow-y:scroll!important;
}

.newlabels{
	display:none!important;
}
}

@media (max-width){
	
}

.button-em{
border-radius:0px!important; 
margin-left: 15px;

}


.button-ed{
border-radius:0px!important;
padding-top: 0!important;
padding-bottom: 0!important;
padding-top: 3px!important;
padding-bottom: 3px!important;
background-color:#21b799!important ;
}

ul.extra-nave li a{
color: #666666!important;
font-size: 12px!important;

}

ul.extra-nave li {
	margin-left: 0!important;
}

ul.extra-nave li a:hover{
background: none!important;
color: #000!important;
font-weight: 500;
}

.drop-area{
	margin-top: 45px;
}

.main-accounts{
	margin-bottom: 10px;
}

ul.extra-nave li a{
	padding: 3px 3px!important;
}

.mb-0{
	margin-bottom: 0;
}

.profit-heading{
	color: #8f8f8f;
	font-size: 18px;
	text-transform:capitalize;
}

.main-profit-content{
	background: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 200px;
}

.heading-p{
	color: #666666;
	font-size:18px;
	text-transform:capitalize;  
}

.prag-l{
font-size: 16px;
color: #7f7f7f;

}

/* end new inven page */


.profittext-area{
	width: 100%;
	color: #cfcfcf;
	border: none;
	border-bottom: 1px solid #cfcfcf!important;
	margin-bottom: 5px;
	   }

textarea:focus{
	outline: none!important;
}

.income-expense{
margin-top: 20px;
}

.income-date{
	
	

}

ul.list-profit > li {
	margin-right: 10px;
	font-size: 12px;
	color: #666666;
	margin-left: 30px;
	text-transform: capitalize;


}

ul.list-profit a{
	color: #666666!important;
	text-decoration: none;
}

ul.list-profit-m a{
	color: #666666!important;
	text-decoration: none;
}

ul.list-profit li:first-child{
	border-bottom:1px solid #666666 ;
	margin-left:5px ; 
}

ul.list-profit li:nth-child(5){
	border-top:1px solid #666666;
	border-bottom:1px solid #666666 ;
	margin-left: 15px; 
}


ul.list-profit-m > li {
	margin-right: 10px;
	font-size: 12px;
	color: #666666;
	margin-left: 10px;
	text-transform: capitalize;


}




ul.list-profit-m li:first-child{
	border-bottom:1px solid #666666 ;
	margin-left:10px ; 
}

ul.list-profit-m li:nth-child(2){
	margin-left: 20px;
	border-bottom:1px solid #666666 ;
	
}

ul.list-profit-m li:nth-child(3){
	margin-left: 20px;
	
	
}


.income{
	color:#9a9a9a;
	font-size: 14px;
	text-transform: uppercase;
	margin-left: 10px;
	border-bottom: 2px solid #9a9a9a;
	margin-top: 20px;

	
}

.date-e{
	margin-right: 10px;
	color:#9a9a9a;
	font-size: 14px;
	text-transform: uppercase;
	 
}
	  
 .finshed-lined{
	color:#875a7b;
	font-size: 14px;
	text-transform: uppercase;
	margin-left: 10px;
	margin-top: 20px;
    border-top: thick double #9a9a9a;

	
}

p span{
	color:#875a7b;
}


/* balanse style  */
ul.list-balnse > li {
	margin-right: 10px;
	font-size: 12px;
	border-bottom:1px solid #666666 ;
	color: #666666;
	margin-left: 10px;
	text-transform: capitalize;
	


}




ul.list-balnse li:last-child{
	border-bottom: none ;
	padding-left: 15px;
 
}

ul.list-balnse li:nth-child(4){
padding-left: 15px;

	
}



ul.list-balnse li a{
	color: #666666!important;
	text-decoration: none;

}

ul.list-assets-m > li {
	margin-right: 10px;
	font-size: 12px;
	border-bottom:1px solid #666666 ;
	color: #666666;
	text-transform: capitalize;
	padding-left: 15px;
	border-top:1px solid #666666 ;
	


}

.mb-30{
	margin-bottom: 30px;
}


ul.list-assets-m li:last-child{
	border-top: none ;
	
 
}


.finshed-lined-e{
	color:#875a7b;
	font-size: 14px;
	text-transform: uppercase;
	margin-left: 10px;
	margin-top: 20px;
    border-top: thick double #9a9a9a;

	
}


ul.list-balnse-ed > li {
	margin-right: 10px;
	font-size: 12px;
	border-bottom:1px solid #666666 ;
	color: #666666;
	text-transform: capitalize;
	


}




ul.list-balnse-ed li:last-child{
	border-bottom: none ;
	padding-left: 15px;
 
}

ul.list-balnse-ed li:nth-child(2){
padding-left: 15px;

	
}



ul.list-balnse-ed li a{
	color: #666666!important;
	text-decoration: none;

}

ul.list-single > li {
	margin-right: 10px;
	font-size: 12px;
	border-top:1px solid #666666 ;
	border-bottom:1px solid #666666 ;
	color: #666666;
	text-transform: capitalize;
	padding-left: 15px;
	


}

ul.list-single li:first-child{
	
}

ul.list-double > li {
	margin-right: 10px;
	font-size: 12px;
	border-top:1px solid #666666 ;
	border-bottom:1px solid #666666 ;
	color: #666666;
	text-transform: capitalize;
	padding-left: 15px;
	


}

ul.list-double li:first-child{
	border: none;
	color:#21b799;
}


ul.gernal-list li{
	list-style: none;
	display: inline;
	padding-right: 55px;
	padding-left: 15px;
	color: #333;
	line-height: 0!important;

}


ul.gernal-list-e li{
	list-style: none;
	display: inline;
	margin-left: 15px;
	color: #333;
	height: auto;

}

@media screen and (max-width: 767px){
.my-responsive {
    border-bottom: 1px solid #ddd!important;
    border: none!important;
}
}
	

table td li a {
	color: #666;
	text-decoration: none;
}

table td li a:hover {
	color: #666;
	text-decoration: none;
}

ul.my-icons-list li{
	list-style: none;
	display: inline-block;
	width: 20px;
	height: 20px;
	color: #4cae4c;
	line-height: 20px;
}
ul.my-icons-list li a{
	display: block;
	width: 20px;
	height: 20px;
	text-decoration: none;
	color: #4cae4c;
}

ul.my-icons-list li a:hover{
	background:#ccc;
	opacity: .7;
	text-align: center;
	line-height: 20px; 
}

.my-table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .my-table>tfoot>tr>th, .my-table>thead>tr>td, .my-table>thead>tr>th
{
	border: none!important;
	height: none!important;
	padding-bottom: 0!important;

}
.my-table{
	font-size: 12px!important;
}


/* balanse style  */
ul.list-balnse-12 > li {
	margin-right: 10px;
	font-size: 12px;
	border-bottom:1px solid #666666 ;
	color: #666666;
	margin-left: 10px;
	text-transform: capitalize;
	


}




ul.list-balnse-12 li:last-child{
	border-bottom: none ;
	
 
}

ul.list-balnse-12 li:first-child{
	border-top:1px solid #666 ;
	
 
}


ul.list-balnse-12 li a{
	color: #666666!important;
	text-decoration: none;

}

/* balance style */


/* Messages Box Media Box */

.media-body a{
	text-decoration: none;
	color:#4c4c4c;
}

.media:hover{
	background-color:#e2e2e0;
	border-radius:5px;
	padding-top:10px;
	padding-bottom:10px;

}
.media{
	padding-top:10px;
	padding-bottom:10px;
	border-top:1px solid #cccc;
	border-bottom:1px solid #ccc;
}

.media-heading span{
	color:darkblue;
	margin-right: 20px;
	font-size:14px;
	
}

/*model window for compose*/
/* 
#to_text{
background: #eef1f4;
}
#inputEmail3{
	background:#eef1f4;
}
#textarea{
	width: 90%;
   margin-left: 10px;
   height:200px;
   border-radius: none!important;
    background: #eef1f4;
}
//start footer//
.uploadbtn{
border-top-right-radius: 40px;
border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
}
.clos_btn{
	color: black!important;
	 font-weight: 1000!important;
	 margin-right: 3px;
	font-size: 15px!important;
} */